@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html, body {
    background-color: black;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 20vh;
    // justify-items: center;
    // align-items: center;
}

.pic-div {
    img {
        margin-top: 10%;
        width: 38%;
        border-radius: 10px;
        border: 4px solid black;
        box-shadow: 4px 4px 4px purple;
    }
    grid-column: 1;
    grid-row: 1;
}

.about-text {
    text-align: left;
    color: #9ee7f7;
    margin-top: 3%;
    margin-left: -10%;
    margin-right: 15%;
    line-height: 1.5em;
    letter-spacing: .2em;
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}

.footer {
    grid-column: 1 / span 2;
    grid-row: 2;
}


@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    
    .about-content {
        margin-top: 0%;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 52vh 10vh;

    }
    
    .pic-div {
        img {
            width: 40%;
            border-radius: 10px;
            // border: 4px solid black;
            // box-shadow: 4px 4px 4px purple;
        }
        grid-column: 1;
        grid-row: 1;
    }
    
    .about-text {
        text-align: center;
        // color: #9ee7f7;
        // margin-top: -8%;
        // margin-top: -30%;
        // margin-left: -10%;
        margin-left: 0%;
        // margin-right: 20%;
        margin-right: 0%;
        line-height: 1.5em;
        letter-spacing: .2em;
        font-size: 1em;
        // font-family: 'Dosis', sans-serif;
        // font-weight: bold;
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .footer {
        grid-column: 1;
        grid-row: 3;
    }
    


}



