.footer-wrapper {
    display: flex;
    width: 100%;
    height: 15%;
    padding: .5%;
    background-image: url('../img/star-background.jpg');
    border-top: 2px solid #0d014f;
    justify-items: left;
    align-items: center;
}

.footer-connect {
    font-size: 1.2em;
    display: inline-block;
    margin-left: 3%;
    margin-right: 1%;
    color: #9ee7f7;
}
