.footer-wrapper {
    display: flex;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url('../img/star-background.jpg');
    border-top: 2px solid #0d014f;
    justify-items: center;
    align-items: center;
}

.footer-connect {
    font-size: 1.5em;
    display: inline-block;
    margin-left: 3%;
    margin-right: 1%;
    color: #9ee7f7;
}