@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html, body {
    margin: 0;
    height: 100%;
  }

.hp-wrapper {
    background-image: url('../img/star-background.jpg');
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    font-size: 1.5em;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    gap: 1em;
}

  .hp-text {
    color: white;
  }

  .social-text {
    color: white;
    font-size: .8em;
    margin-left: 3%;
    margin-right: 5%;
  }

  .hide-a {
  color: white;
  display: none;
  cursor: pointer;
  }

  .hp-link {
      color:white;
      text-decoration: none;
  }
  .hp-link:hover {
        color: #0693c7;
  }

  .boxEffects {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .boxEffects:hover {
    .hp-text {
        display: none;
    }
    .hide-a {
        display: unset;
    }
  }


  .about-box {
      grid-column: 1;
      grid-row: 1;
  }


  .box2 {
    grid-column: 2;
    grid-row: 1;
  }

  .contact-box {
      grid-column: 3;
      grid-row: 1;
  }


  .name-box {
      grid-column: 1 / span 3;
      grid-row: 2;
  }

  .portfolio-box {
      grid-column: 1;
      grid-row: 3;
  }


  .links-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 3;
  }

  .resume-box {
      grid-column: 3;
      grid-row: 3;
  }
  

.jenn-logo {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
    color: #0693c7;
    font-family: 'Rock Salt', cursive;
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow for mozilla*/
  
  @-moz-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow*/
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }







  

  