.projects-div {
    margin-top: 12%;
    // margin-bottom: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 20vh;
    justify-items: center;
    align-items: center;
}

.project-0 {
    grid-column: 1;
    grid-row: 1;
}
.project-1 {
    grid-column: 2;
    grid-row: 1;
}
.project-2 {
    grid-column: 3;
    grid-row: 1;
}
.project-3 {
    grid-column: 1;
    grid-row: 2;
}
.project-4 {
    grid-column: 2;
    grid-row: 2;
}
.project-5 {
    grid-column: 3;
    grid-row: 2;
}

.port-footer {
    grid-column: 1 / span 3;
    grid-row: 3;
}

@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    .projects-div {
        margin-top: 35%;
        margin-bottom: 0%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 20vh;
    }
    
    .project-0 {
        grid-column: 1;
        grid-row: 1;
    }
    .project-1 {
        grid-column: 1;
        grid-row: 2;
    }
    .project-2 {
        grid-column: 1;
        grid-row: 3;
    }
    .project-3 {
        grid-column: 1;
        grid-row: 4;
    }
    .project-4 {
        grid-column: 1;
        grid-row: 5;
    }
    .project-5 {
        grid-column: 1;
        grid-row: 6;
    }

    .port-footer {
        grid-column: 1;
        grid-row: 7;
    }

}