@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

.project-wrapper {
    font-family: 'Dosis', sans-serif;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 8%;
    padding-bottom: 5%;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 
    0 0 0 5px hsl(244, 97%, 14%),
    0 0 0 5px hsl(226, 97%, 36%),
    0 0 0 10px hsl(199, 95%, 37%),
    0 0 0 15px hsl(0, 0%, 80%);
}

.img-div {
   img {
        width: 90%;
        margin-top: 5%;
        object-fit: cover;
        max-height: 13em;
        border-radius: 10px;
        border: 5px solid black;
   } 
}

.app-btn {
    font-family: 'Dosis', sans-serif;
    width: 70%;
    padding: 2%;
    margin-bottom: 2%;
    background-color: black;
    border-radius: 5px;
    font-size: 1.3rem;
    border:0.1em solid black;
    box-shadow: 3px 3px 3px #b006b6;
  }

  .repo-btn {
    font-family: 'Dosis', sans-serif;
    width: 50%;
    padding: 2%;
    background-color: black;
    border-radius: 5px;
    font-size: 1rem;
    border:0.1em solid black;
    box-shadow: 3px 3px 3px #072bca;
  }

  @media only screen 
and (min-device-width : 350px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    .project-wrapper {
        font-family: 'Dosis', sans-serif;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15%;
        padding-bottom: 5%;
    }

}